.root {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.container {
  height: fit-content;
  position: relative;
  max-width: 700px;
}

.centered {
  text-align:center;
}

.quotemarkLeft {
  position: absolute;
  top: -32px;
  left: -32px;
}

.quotemarkRight {
  position: absolute;
  bottom: -32px;
  right: 0;
}

.quoteAuthor {
  font-size: 10px;
  font-style: italic;
  text-align: center;
}
