.root {
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
  font-family: "interBold";
}

.rootIcon {
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
  font-family: "interBold";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon {
  cursor: pointer;
}

.icon > svg {
  transition: color 0.2s ease;
}

.icon:hover > svg {
  fill: #fff;
}
