.title {
  font-size: 24px;
  color: #000;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin-bottom: 24px;
  font-weight: 600;
  font-family: 'interBold';
}

.title > svg {
  fill: #000;
}
