.root {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
}

.noData {
  text-align: center;
  font-size: 12px;
  color: #666;
  font-family: "interRegular";
}

@media (max-width: 751px) {
  .root {
    max-width: 300px;
    max-height: 300px;
  }
}
